<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
        <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Document</title>
</head>
		
<body class=" font-sans leading-normal tracking-normal">
	<%- include('./partials/nav.ejs') %> 
<div class="carousel relative shadow-2xl bg-white ">
	<div class="carousel-inner relative overflow-hidden w-full ">
	  <!--Slide 1-->
		<input class="carousel-open" type="radio" id="carousel-1" name="carousel" aria-hidden="true" hidden="" checked="checked">
		<div class="carousel-item absolute opacity-0" style="height:240px;">
			<div class="block h-full w-full  text-white text-5xl text-center">
                <img src="/img/slide1.png" alt="" class="w-full">
            </div>
		</div>
		
		
		<!--Slide 2-->
		<input class="carousel-open" type="radio" id="carousel-2" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:240px;">
			<div class="block h-full w-full bg-orange-500 text-white text-5xl text-center">
                <img src="/img/slide2.png" alt="" class="w-full">
            </div>
		</div>
		
		
		<!--Slide 3-->
		<input class="carousel-open" type="radio" id="carousel-3" name="carousel" aria-hidden="true" hidden="">
		<div class="carousel-item absolute opacity-0" style="height:240px;">
			<div class="block h-full w-full bg-green-500 text-white text-5xl text-center">
                <img src="/img/burger.jpg" alt="" class="w-full">
            </div>
		</div>
		

		<!-- Add additional indicators for each slide-->
		<ol class="carousel-indicators">
			<li class="inline-block mr-3">
				<label for="carousel-1" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-2" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
			<li class="inline-block mr-3">
				<label for="carousel-3" class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700">•</label>
			</li>
		</ol>
		
	</div>
</div>


    <section class="container mx-auto"> 
        <div class="flex mt-16 grid grid-cols-4">
          <% items.forEach(function(image) { %>
            <div class="card mb-4" style="width: 18rem;"> 
              
				<a href="/categories/ricecategories"><img class="card-img-top" 

					src="data:image/<%=image.img.contentType%>;base64,
                     <%=image.img.data.toString('base64')%>"
				   alt="Card image cap">
				</a>
              </div>
              <% }) %>
    </section>
</body>

</html>