<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <title>Groco app</title>
</head>
<body>
    <!-- <h3>from home page</h3> -->
    

    <section class="hero py-16">
        <!-- <img src="/img/section1.png" alt=""> -->
        <div class="container mx-auto flex items-center justify-between">
            <div class="w-1/2 ">
                <h6 class="text-lg"><em class="left_side1">Are you hungry?</em></h6>
                <h1 class="text-6xl font-bold left_side2">Don't Wait..</h1>
                <button class="px-6 py-2 rounded-full text-white font-bold mt-4 btn-primary">Oreder Now</button>
            </div>
            <div class="w-1/2">
                <img src="/img/mart3.png" alt="">
            </div>
        </div>
    </section>
    <section class=" menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">All items</h1>

            <div class="grid grid-cols-4 col-gap-12 row-gap-16">
                <div >
                    <img class=" h-40 mb-4 mx-auto" src="/img/rice_basmati.jpg" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4 font-bold">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/kelloys.png" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4 font-bold">Keyloggs corn flakes</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">300Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/tea.png" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4 font-bold">Red label tea</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">150Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>
                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/baby.png" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/rice_basmati.jpg" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/rice_basmati.jpg" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/rice_basmati.jpg" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>

                <div class="w-64">
                    <img class=" h-40 mb-4 mx-auto" src="/img/rice_basmati.jpg" alt="">
                    <div>
                        <h2c class="mb-4 text-lg py-4 px-4">Inidia gate basmati rice</h2c>
                    </div>
                    <div class="flex items-center justify-around mt-6">
                        <span class=" size py-1 px-4 rounded-full uppercase font-bold ">500Rs</span>
                        <button class="add-to-cart py-1 px-6 flex items-center font-bol">
                            <span>+</span>
                            <span class="ml-3">Add</span>
                        </button>
                    </div>
                </div>
        </div>
    </section>
    <script src="/js/app.js">
    
    </script>
</body>
</html>
