<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" -->
        <!-- integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
    <title>Document</title>
</head>
<body class=" font-sans leading-normal tracking-normal">
    <h1>rice categories</h1>
    <section class=" menu container mx-auto py-8">
        <h1 class="text-xl font-bold mb-8">All items</h1>

            <div class="grid grid-cols-4 col-gap-12 row-gap-16">
                <% let productArray = product %> 
                <% for(var i = 0 ; i < productArray.length;i++) {%>
                        <% var obj = productArray[i] %> 
                        <% if(obj.categoery == 'Rice') { %> 
                            <div class="w-64">
                                <img class=" h-40 mb-4 mx-auto" src="/img/<%= obj.image%>" alt="">
                                <div>
                                    <h2c class="mb-4 text-lg py-4 px-4 font-bold"><%= obj.name%></h2c>
                                </div>
                                <div class="flex items-center justify-around mt-6">
                                    <span class=" size py-1 px-4 rounded-full uppercase font-bold "><%= obj.price%></span>
                                    <button data-grozo="<%= JSON.stringify(obj) %> " class="add-to-cart py-1 px-6 flex items-center font-bol">
                                        <span>+</span>
                                        <span class="ml-3">Add</span>
                                    </button>
                                </div>
                            </div>
                        <% } %> 
               <% }; %>
        </div>
    </section>
    <script src="/js/app.js">
    
    </script>

</body>
</html>