<div class="sidebar">
    <div class="logo-content">
        <div class="logo">
            <div class="logo_name">
            <img src="/img/logo1.png" alt="logo">
            </div>
        </div>
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a href="/admin/home">
            <i class='bx bx-grid-alt'></i>
            <span>Dashbord</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="#">
            <i class='bx bxs-user-account' ></i>
            <span>user</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="/admin/catimage">
           <i class='bx bx-category-alt' ></i>
            <span>Categorie</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="/form">
           <i class='bx bxl-product-hunt' ></i>
            <span>Product</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="#">
            <i class='bx bx-pie-chart-alt-2'></i>
            <span>Analytics</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="/admin/orders">
           <i class='bx bx-cart-alt'></i>
            <span>Order</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>

        <li>
            <a href="#">
           <i class='bx bx-cog' ></i>
            <span>Settings</span>
            </a>
            <!-- <span class="tooltip">Dashbord</span> -->
        </li>
    </ul>
</div>