//  sprimary :read-only;
@import './variables';

body 
{
    font-family: 'lato','sans-serif';
    -webkit-font-smoothing:antialiased;
    color: $dark;
    color:$dark;
    // color: #cbff47;
    background: #cbff47;
    // height: 4000px;
    
}
nav li:last-child
{
    background: $primary;
    border-radius: 30px;
}
nav li a {
    transition: all .3s ease-in-out;
    &:hover{
        color: $primary-hover;
    }
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color:#2F4B2F;

    
}
.left_side1
{
    color: #2F4B2F;
}
.left_side2
{
    color:#2F4B2F ;
}
.hero
{
    background-image: url('/public/img/section1.png');
}
.size
{
    background: $light-green;
}
.add-to-cart
{
    border: 2px solid $primary;
    color: $primary;
    border-radius: 20px;
    transition: $smooth;
    // border-style: none;
    
    &:hover {
        background: $primary;
        border-color: $pure;
        color: $pure;
    }
}